<h3>技术专题</h3>
<br>
<hr>
<h4 class="card-title">OAuth授权框架</h4>

<div class="card" >
  <div class="card-body">
    <ul class="list-group" style="margin-left: 25px;">
      <li>
        <span routerLink="/subjects/oauth/art1" routerLinkActive="active" style="cursor: pointer;" class="card-text">1. 简介</span>
      </li>
      <li>
        <span routerLink="/subjects/oauth/art2" routerLinkActive="active" style="cursor: pointer;" class="card-text">2. 授权许可</span>
      </li>
      <li>
        <span routerLink="/subjects/oauth/art3" routerLinkActive="active" style="cursor: pointer;" class="card-text">3. 访问令牌和刷新令牌</span>
      </li>
      <li>
        <span routerLink="/subjects/oauth/art4" routerLinkActive="active" style="cursor: pointer;" class="card-text">4. 客户端注册</span>
      </li>
    </ul>
  </div>
</div>



