<div>
  <form (ngSubmit)="onSubmitArt()">
    <div class="form-group">
      <div class="ui-float-label">
        <input id="title" class="form-control" type="text" size="40" pInputText name="art-title"
               [(ngModel)]="art.title">
        <label for="title">Art Name</label>
      </div>
    </div>
    <div class="form-group">
      <div class="ui-float-label">
        <input id="original-url" class="form-control" type="text" size="40" pInputText name="art-title"
               [(ngModel)]="art.originalUrl">
        <label for="original-url">Original Url</label>
      </div>
    </div>
    <div class="form-group">
      <p-dropdown name="art-type" [options]="artTypeList" [(ngModel)]="art.type"></p-dropdown>
    </div>
    <div class="form-group">
      <i class="pi pi-calendar" style="font-size: 1.7em"></i>
      <p-calendar name="art-date" [(ngModel)]="art.date"></p-calendar>
    </div>
    <div class="form-group">
      <p-editor name="art-content" [(ngModel)]="art.content" [style]="{'height':'600px'}"></p-editor>
    </div>
    <div class="form-group">
      <button pButton type="submit" class="ui-button-raised ui-button-rounded" label="Submit"></button>
    </div>
  </form>
</div>
