<h3>技术专题</h3>
<br>
<div class="card" >
  <div class="card-body">
    <h5 class="card-title">领域</h5>
    <h6 class="card-subtitle mb-2 text-muted">身份和访问管理的不同领域</h6>

    <ul class="list-group" style="margin-left: 25px;">
      <li >
        <span style="cursor: pointer;" class="card-text" >文章1</span>
      </li>
      <li >
        <span style="cursor: pointer;" class="card-text" >文章2</span>
      </li>
    </ul>
  </div>
</div>

<div class="card" >
  <div class="card-body">
    <h5 class="card-title">框架</h5>
    <h6 class="card-subtitle mb-2 text-muted">关于不同的框架</h6>

    <ul class="list-group" style="margin-left: 25px;">
      <li >
        <span routerLink="/subjects/oauth" routerLinkActive="active" style="cursor: pointer;" class="card-text" >OAuth框架</span>
      </li>
      <li >
        <span style="cursor: pointer;" class="card-text" >文章2</span>
      </li>
    </ul>
  </div>
</div>

<div class="card" >
  <div class="card-body">
    <h5 class="card-title">产品</h5>
    <h6 class="card-subtitle mb-2 text-muted">产品和功能介绍</h6>

    <ul class="list-group" style="margin-left: 25px;">
      <li >
        <span style="cursor: pointer;" class="card-text" >文章1</span>
      </li>
      <li >
        <span style="cursor: pointer;" class="card-text" >文章2</span>
      </li>
    </ul>
  </div>
</div>
