<div class="card">
  <div class="card-body">
    <h1>亚太地区的身份和访问管理市场到2024年的复合年增长率达到15％+</h1>
    <p>2018年10月4日（根据COMTEX的Heraldkeeper） - 随着智能手机，基于云的解决方案，大量开发以及<strong>BYOD</strong>（Bring Your Own
      Device）的普及，亚太地区的身份和访问管理市场需求将受到极大的推动。2013年的物联网采用率约为12％，2017年达到约36％。此外，由于该地区展示了巨大的增长潜力，在IAM市场运营的各家公司正在扩大其在该地区的业务，以获得更高的客户群。
    </p>
    <p>由于IAM解决方案在该地区的银行金融保险（<strong>BFSI</strong>，Banking, Financial services and
      Insurance），医疗保健，电信和公用事业等不同领域的重要性，预计北美将主导市场。 此外，随着智能手机使用量的增加，物联网和云计算技术的技术进步也推动了身份和访问管理市场的增长。</p>
    <p>
      BFSI部门的身份和访问管理市场正在以最快的速度增长，因为银行和金融机构携带敏感的客户信息，确保极其安全的环境，因为任何类型的安全漏洞都可能成本高昂且具有破坏性。为了提高IAM安全性，BFSI行业通过将多因素身份验证集成到其网络用户帐户中来采用高效流程。
      由于移动银行业务的普及，采取了各种措施来保护在线交易。 指纹激活支付系统正在智能手机中安装，以保护网上银行。</p>
    <p>到2024年，全球身份和访问管理（IAM）市场预计将超过<strong>189亿美元</strong>。IAM产品提供基于角色的访问控制，允许系统管理员根据组织内员工的角色来管理对网络的访问。
      它主要侧重于确保合作伙伴，员工和客户可以安全，简单地访问应用程序，而不会影响安全性。 与企业安装IAM系统相关的主要好处包括减少数据泄露，集中访问控制，降低IT成本和改善用户体验。</p>
    <p>BYOD等连接设备的发展趋势正在迅速增加，提高了生产力，降低了组织的硬件成本，提高了员工满意度。 此外，移动普及率的提高，员工移动软件需求的增加以及移动服务管理的日益突出也推动了对IAM解决方案的需求。
      员工，合作伙伴和承包商将个人设备带到工作场所以与公司网络连接。 大约70％的组织采用了BYOD趋势，预计将超过预测时间表。 然而，互联技术的日益普及也导致了网络犯罪威胁的增加。
      这需要部署有效的IAM解决方案，以防止对公司数据的未授权访问，从而加速身份和访问管理市场的增长。</p>
    <p>供应解决方案在身份和访问管理市场占据主导地位，并在2017年占据了约40.7％的市场份额。该解决方案为员工，客户和其他利益相关者提供增强的IAM功能，以管理各种计算资源的供应和取消供应。
      对可靠配置解决方案不断增长的需求以及风险缓解和安全性的日益增加的牵引力也对身份和访问管理市场的增长产生了积极影响。 在各种工业应用中采用供应解决方案，以支持数字身份创建，验证，批准，变更，终止，传播和通信。</p>
    <p>在身份和访问管理市场运营的公司正在投入资金进行战略合作伙伴关系和合作，并开发创新解决方案，从而在市场中获得竞争优势。 在IAM市场运营的一些主要供应商是戴尔电脑，ForgeRock，Gemalto，IBM，HID Global
      Corporation，iWelcome，微软，Net IQ，Okta，Inc，Ping Identity和SailPoint Technologies Holdings，Inc。</p>
  </div>
</div>
<br>
<div style=" font-style: italic;">原文<a target="_blank"
                                       href="https://www.marketwatch.com/press-release/identity-and-access-management-market-in-asia-pacific-to-witness-15-cagr-till-2024-2018-10-04">链接</a>
</div>
<br>
<div style=" font-style: italic;">2018年10月5日，由<a href="http://www.anquanjuzi.com">安全桔子</a>整理发布</div>
