<div class="card">
  <div class="card-body">
    <h1>最好的IAM软件：评选十大产品</h1>
    <h6><em>根据IT专业人员的反馈，这些是最佳的身份和访问管理产品。</em></h6>
    <p>公司最大的资产是什么？ 可以把它分成两组：</p>
    <ol>
      <li><strong>人员</strong> ，包括富有成效的员工，忠诚的客户和高效的合作伙伴。</li>
      <li><strong>数据</strong> ，包括有关客户，产品，流程和知识产权的信息。</li>
    </ol>
    <p>但是，在这个过程中如果无法保护谁正在访问哪些信息，那么人员和数据的混合可能会给IT公司带来挑战。 如今，更多的团队，包括内部员工、供应商和客户，正在从不同的平台和多种设备访问更多数据。
      如果不保护这些信息，那么公司将面临与数据安全性，合规性或组织效率相关的风险。</p>
    <h2>数据安全始于家庭（与人类一起）</h2>
    <p>如果使用弱密码，访问不应该访问的数据或者不遵守合规性要求，即使是善意的员工也会构成威胁。 当然，IT部门并非没有错。 许多人未能部署单点登录和多因素身份验证等功能，以确保更好，更安全的体验。</p>
    <p><strong>身份和访问管理（IAM）</strong> 。 IAM平台旨在确保内部部署，云和混合系统在适当的时间为正确的角色和个人提供适当的访问。
      混合使用物联网等技术以及严格的合规要求（如GDPR和IAM）是安全策略的关键任务要素。 事实上，GDPR的影响导致了客户识别和访问管理（CIAM）这一术语的使用。</p>
    <h2>IAM的目标是什么？</h2>
    <p>IAM产品和服务旨在确保授权的员工，合作伙伴和客户拥有适当的资源访问权限。 IAM有助于确保入职，离职，管理角色，身份验证，访问管理等流程自动化，可扩展且有效。</p>
    <p>除单点登录和多因素身份验证外，IAM软件还通常提供帐户管理，合规性管理，密码管理，角色管理，用户活动监控和用户配置等功能。</p>
    <p>好消息是，您有许多选项来管理身份和访问您的资源。 事实上， IT Central
      Station在其“身份和访问管理买方指南和评论”报告中确定了66家供应商，从单纯IAM提供商到提供IAM作为其安全平台一部分的大型供应商。</p>
    <p>根据IT user reviews的报告，IT Central Station基于以下的评估标准挑选出了前10个产品：视图数量，产品与其他产品的比较次数，IT Central Station特定产品的评论总数，IT
      Central Station上的粉丝数量和基于评论的平均评分。</p>
    <p>根据IT Central Station，以下是基于该标准的十大身份和访问管理产品（按字母顺序排列）：</p>
    <ul>
      <li>CA Identity Manager (CA IAM)</li>
      <li>Cisco Identity Services Engine</li>
      <li>CyberArk Privileged Account Security</li>
      <li>ForgeRock</li>
      <li>IBM Tivoli Access Manager</li>
      <li>Keeper</li>
      <li>OneLogin</li>
      <li>Oracle Identity Manager (Oracle IAM)</li>
      <li>Quest One Identity Manager</li>
      <li>SailPoint IdentityIQ</li>
    </ul>
  </div>
</div>
<br>
<div style=" font-style: italic;">原文链接在<a target="_blank"
                                          href="https://www.csoonline.com/article/3301196/security/the-best-iam-software-rating-the-top-10-products.html">这里</a>
</div>
<div style=" font-style: italic;">2018年10月2日，由<a href="http://www.anquanjuzi.com">安全桔子</a>整理发布</div>

