/* You can add global styles to this file, and also import other style files */
@import "~ng-snotify/styles/simple.css";

body {
  font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;

  /* The image used */
  /* Full height */
  /*height: 100%;*/

  /* Center and scale the image nicely */
  /*background: url("assets/images/background.png") no-repeat center;*/
  /*background-size: cover;*/
}



.box {
  border: 1px solid black;
}





